<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lvr.kdshop.business.mapper.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.lvr.kdshop.pojo.Goods" >
      <id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result column="catelog_id" property="catelogId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result column="user_id" property="userId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="name" property="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="price" property="price" jdbcType="REAL" javaType="java.lang.Float" />
      <result column="real_price" property="realPrice" jdbcType="REAL" javaType="java.lang.Float" />
      <result column="start_time" property="startTime" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="polish_time" property="polishTime" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="end_time" property="endTime" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="good_buy_method" property="goodBuyMethod" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="good_address" property="goodAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
      <result column="view_count" property="viewCount" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <result column="describle" property="describle" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <result column="status" property="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from goods
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.lvr.kdshop.pojo.Goods" useGeneratedKeys="true" keyProperty="id">

    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into goods (catelog_id, user_id,
      name, price, real_price, start_time, 
      polish_time, end_time,
      phone_number,
      good_buy_method, good_address,
      view_count, describle)
    values ( #{catelogId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{realPrice,jdbcType=REAL}, #{startTime,jdbcType=VARCHAR}, 
      #{polishTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR},
      #{phoneNumber,jdbcType=VARCHAR},
      #{goodBuyMethod,jdbcType=VARCHAR}, #{goodAddress,jdbcType=VARCHAR},
      #{viewCount,jdbcType=INTEGER}, #{describle,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.lvr.kdshop.pojo.Goods" >

    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update goods
    set catelog_id = #{catelogId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      real_price = #{realPrice,jdbcType=REAL},
      start_time = #{startTime,jdbcType=VARCHAR},
      polish_time = #{polishTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      good_buy_method = #{goodBuyMethod,jdbcType=VARCHAR},
      good_address = #{goodAddress,jdbcType=VARCHAR},
      view_count = #{viewCount,jdbcType=INTEGER},
      describle = #{describle,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select id, catelog_id, user_id, name, price, real_price, start_time, polish_time, 
    end_time, phone_number, good_buy_method,
    good_address, view_count, describle,status
    from goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllGoods" resultMap="BaseResultMap" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
      id, catelog_id, user_id, name, price, real_price, start_time, polish_time,
      end_time, phone_number, good_buy_method,
      good_address, view_count, describle,status
    from
      goods
    order by
      polish_time DESC
  </select>

  <select id="searchGoods" resultMap="BaseResultMap">

    select
      id, catelog_id, user_id, name, price, real_price, start_time, end_time, polish_time, describle, phone_number,good_buy_method,good_address,view_count,status
    from
      goods
    where
     (name like concat('%',#{name},'%')
    OR
      describle like concat('%',#{describle},'%'))
    AND
      status = #{status}
    order by
      polish_time
    ASC

  </select>

  <select id="selectByCatelogAndStatus" resultMap="BaseResultMap">
    SELECT
      id, catelog_id, user_id, name, price, real_price, start_time, end_time, polish_time, describle, phone_number,good_buy_method,good_address,view_count,status
    FROM
      goods
    WHERE
      catelog_id = #{cid}
    AND
      status = #{status}
  </select>

  <select id="selectByCatelogOrderByPolishDate" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
      id, catelog_id, user_id, name, price, real_price, start_time, end_time, polish_time, describle, phone_number,good_buy_method,good_address,view_count,status
    from
      goods
    where
      catelog_id = #{catelog_id,jdbcType=INTEGER}
    AND
      status = 1
    order by
      polish_time
    DESC
      limit #{limit,jdbcType=INTEGER}

  </select>

  <select id="selectGoodsOrderByDate" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
      id, catelog_id, user_id, name, price, real_price, start_time, end_time, polish_time, describle, phone_number,good_buy_method,good_address,view_count,status
    from
      goods
    order by
      polish_time
    DESC
      limit #{limit,jdbcType=INTEGER}

  </select>

  <select id="selectGoodsByCatelogStatus" resultMap="BaseResultMap">
    select
      id, catelog_id, user_id, name, price, real_price, start_time, end_time, polish_time, describle, phone_number,good_buy_method,good_address,view_count,status
    from
      goods
    where
      catelog_id = #{catelogId}
  </select>

  <select id="getGoodsByUserId" resultMap="BaseResultMap">
    select
      id, catelog_id, user_id, name, price, real_price, start_time, end_time, polish_time, describle, phone_number,good_buy_method,good_address,view_count,status
    from
      goods
    where
      user_id = #{user_id}

  </select>

  <select id="selectGoodsByStatusOrderByPolishTime" resultMap="BaseResultMap">
    select
      id, catelog_id, user_id, name, price, real_price, start_time, end_time, polish_time, describle, phone_number,good_buy_method,good_address,view_count,status
    from
      goods
    where
      status=#{status}
    ORDER BY
      polish_time
    DESC
  </select>

  <select id="selectPrimaryKey" resultMap="BaseResultMap">
    SELECT
      *
    FROM
      goods
  </select>

  <update id="updateViewCountByPrimaryKey">

    UPDATE
     goods
    SET
     view_count = #{viewCount}
    WHERE
      id = #{id}

  </update>

  <select id="selectGoodsByStatusOrderByViewcountLimit" resultMap="BaseResultMap">
    SELECT
      *
    FROM
      goods
    WHERE
      status = #{status}
    ORDER BY
      view_count
    DESC
      limit #{limit}
  </select>
  
  <update id="updatePolishTimeByPrimaryKey">
    UPDATE
      goods
    SET
      polish_time = #{polishTime}
    WHERE
      id = #{id}
  </update>
  <update id="updateStatusByPrimaryKey">
    UPDATE
      goods
    SET
      status = #{status}
    WHERE
      id = #{id}
  </update>
  
  <update id="updateEndTimeByPrimaryKey">
    UPDATE
      goods
    SET
      end_time = #{endTime}
    WHERE
      id = #{id}
  </update>

  <select id="searchGoodsByKeyWord" resultMap="BaseResultMap">

    select
      id, catelog_id, user_id, name, price, real_price, start_time, end_time, polish_time, describle, phone_number,good_buy_method,good_address,view_count,status
    from
      goods
    where
      (name like concat('%',#{name},'%')
    OR
      describle like concat('%',#{describle},'%'))
    order by
      polish_time
    ASC

  </select>

  <select id="searchGoodsByKeyWordAndPrimary" resultMap="BaseResultMap">

    select
      id, catelog_id, user_id, name, price, real_price, start_time, end_time, polish_time, describle, phone_number,good_buy_method,good_address,view_count,status
    from
      goods
    where
      (name like concat('%',#{name},'%')
    OR
      describle like concat('%',#{describle},'%'))
    AND
      id = #{id}
    order by
      polish_time
    ASC

  </select>

</mapper>