<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/css/bootstrap.min1.css" th:href="@{/css/bootstrap.min1.css}">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" href="../static/css/meanmenu.css" th:href="@{/css/meanmenu.css}">
    <link rel="stylesheet" href="../static/css/meanmenu.css" th:href="@{/css/meanmenu.css}">
    <link rel="stylesheet" href="../static/css/slick.css" th:href="@{/css/slick.css}">
    <link rel="stylesheet" href="../static/css/default1.css" th:href="@{/css/default1.css}">
    <link rel="stylesheet" href="../static/css/style1.css" th:href="@{/css/style1.css}">
    <link rel="stylesheet" href="../static/css/responsive1.css" th:href="@{/css/responsive1.css}">
    <script src="../static/js/vue.js" th:src="@{/js/vue.js}"></script>
</head>
<body>
<!-- header start class="transparent-header" -->
<header th:fragment="pageHeader">
    <div id="header-sticky" class="header-area box-90">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-6 col-md-6 col-7 col-sm-3 d-flex align-items-center">
                    <div class="basic-bar cat-toggle">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </div>
                    <div class="logo">
                        <a th:href="@{/index}">I have</a>
                    </div>
                    <div class="category-menu">
                        <h4>闲置分类</h4>
                        <ul>
                            <li><a href="shop.html"> 学习用品</a></li>
                            <li><a href="shop.html"> 床上用品</a></li>
                            <li><a href="shop.html"> 电子数码</a></li>
                            <li><a href="shop.html"> 服饰衣物</a></li>
                            <li><a href="shop.html"> 棋牌休闲</a></li>
                            <li><a href="shop.html"> 户外运动</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-8 col-8 d-none d-xl-block">
                    <div class="main-menu text-center">
                        <nav id="mobile-menu">
                            <ul>
                                <li>
                                    <a th:href="@{/index}">首页</a>
                                </li>
                                <li class="mega-menu">
                                    <a th:href="@{/shop}">小铺</a>
                                </li>
                                <li>
                                    <a th:href="@{/product/list}">买闲置 </a>
                                </li>
                                <li>
                                    <a th:href="@{/news/list}">新闻</a>
                                </li>
                                <li>
                                    <a th:href="@{/contact}">联系我们</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-5 col-sm-9 pl-0">
                    <div class="header-right f-right">
                        <ul>
                            <li class="search-btn">
                                <a class="search-btn nav-search search-trigger" href="#"><i class="fas fa-search"></i></a>
                            </li>
                            <li class="login-btn">
                                <a th:href="@{/login}"><i class="far fa-user"></i></a>
                                <!--                                <a href="login.html"><i class="far fa-user"></i></a>-->
                            </li>
                            <li class="d-shop-cart">
                                <a th:href="@{/wishlist}"><i class="far fa-heart"></i> <span class="cart-count">3</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 d-xl-none">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->

<!-- footer start -->
<footer th:fragment="pageFooter">
    <div class="footer-area box-90 pt-100 pb-60">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-5 col-md-6 ">
                    <div class="footer-widget mb-40">
                        <div class="footer-logo">
                            <a href="">
                                I have
                                <!--                                    <img src="../static/picture/footer-logo.png" th:src="@{/picture/footer-logo.png}" alt="">-->
                            </a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore mag na
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <div class="footer-time d-flex mt-30">
                            <div class="time-icon">
                                <img src="../static/picture/time.png" th:src="@{/picture/time.png}" alt="">
                            </div>
                            <div class="time-text">
                                <span>Got Questions ? Call us 24/7!</span>
                                <h2>(0600) 874 548</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
                    <div class="footer-widget pl-50 mb-40">
                        <h3>Social Media</h3>
                        <ul class="footer-link">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Behance</a></li>
                            <li><a href="#"> Dribbble</a></li>
                            <li><a href="#">Linkedin</a></li>
                            <li><a href="#">Youtube</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3 d-lg-none d-xl-block">
                    <div class="footer-widget pl-30 mb-40">
                        <h3>Location</h3>
                        <ul class="footer-link">
                            <li><a href="#">New York</a></li>
                            <li><a href="#">Tokyo</a></li>
                            <li><a href="#">Dhaka</a></li>
                            <li><a href="#"> Chittagong</a></li>
                            <li><a href="#">China</a></li>
                            <li><a href="#">Japan</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="footer-widget mb-40">
                        <h3>About</h3>
                        <ul class="footer-link">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#"> Privacy Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Wholesale</a></li>
                            <li><a href="#">Direction</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-banner">
                            <a href="shop.html"><img src="static/picture/add.jpg" th:src="@{/picture/add.jpg}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area box-105">
        <div class="container-fluid">
            <div class="copyright-border pt-30 pb-30">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="copyright text-center text-md-left">
                            <p>Copyright © 2019 <a href="#">BasicTheme</a>. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-icon text-center text-md-right ">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
</body>
</html>