<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>我的小铺</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <main th:fragment="shop">

        <!-- breadcrumb-area-start -->
        <section class="breadcrumb-area" data-background="img/bg/page-title.png">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-text text-center">
                            <h1>Your Shop</h1>
                            <ul class="breadcrumb-menu">
                                <li><a href="index1.html">home</a></li>
                                <li><span>shop</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- shop-area start -->
        <section class="shop-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="shop-banner mb-50">
                            <img th:src="@{/picture/shop-banner1.jpg}" alt="">
                        </div>
                        <!-- tab filter -->
                        <div class="row mb-10">
                            <div class="col-xl-5 col-lg-6 col-md-6">
                                <div class="product-showing mb-40">
                                    <p>Showing 1–22 of 32 results</p>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-6 col-md-6">
                                <div class="shop-tab f-right">
                                    <ul class="nav text-center" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" title="我发布的闲置"><i class="fas fa-list-ul"></i> </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" title="我的订单"><i class="fa fa-clipboard"></i></a>
                                        </li>
                                    </ul>
                                </div>
<!--                                <div class="pro-filter mb-40 f-right">-->
<!--                                    <form action="#">-->
<!--                                        <select name="pro-filter" id="pro-filter">-->
<!--                                            <option value="1">Shop By </option>-->
<!--                                            <option value="2">Top Sales </option>-->
<!--                                            <option value="3">New Product </option>-->
<!--                                            <option value="4">A to Z Product </option>-->
<!--                                        </select>-->
<!--                                    </form>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <!-- tab content -->
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
                                <!-- 自己发布的商品-->
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="product-wrapper mb-50">
                                            <div class="product-img mb-25">
                                                <a href="detail.html">
                                                    <img th:src="@{/picture/pro13.jpg}" alt="">
                                                </a>
                                                <div class="product-action text-center">
                                                    <a href="#" title="擦亮">
                                                        <i class="fa fa-hand-paper"></i>
                                                    </a>
                                                    <a href="#" title="下架">
                                                        <i class="fa fa-angle-double-down"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h4>
                                                    <a href="detail.html">我发布的闲置</a>
                                                </h4>
                                                <div class="product-meta">
                                                    <div class="pro-price">
                                                        <span>$119.00 USD</span>
                                                        <span class="old-price">$230.00 USD</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="product-wrapper mb-50">
                                            <div class="product-img mb-25">
                                                <a href="detail.html">
                                                    <img th:src="@{/picture/pro13.jpg}" alt="">
                                                </a>
                                                <div class="product-action text-center">
                                                    <a href="#" title="擦亮">
                                                        <i class="fa fa-hand-paper"></i>
                                                    </a>
                                                    <a href="#" title="下架">
                                                        <i class="fa fa-angle-double-down"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h4>
                                                    <a href="detail.html">我发布的闲置</a>
                                                </h4>
                                                <div class="product-meta">
                                                    <div class="pro-price">
                                                        <span>$119.00 USD</span>
                                                        <span class="old-price">$230.00 USD</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <!--  我的订单（购买的和出售的）  -->
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="product-wrapper mb-30">
                                            <div class="product-img">
                                                <a href="product-details.html">
                                                    <img th:src="@{/picture/pro14.jpg}"  alt="" src=""/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-9">
                                        <div class="product-content pro-list-content pr-0 mb-50">
                                            <div class="pro-cat mb-10">
                                                <a href="shop.html">分类, </a>
                                                <a href="shop.html">furniture</a>
                                            </div>
                                            <h4>
                                                <a href="product-details.html">Minimal Troma Furniture</a>
                                            </h4>
                                            <div class="product-meta mb-10">
                                                <div class="pro-price">
                                                    <span>￥119.00</span>
                                                </div>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="basic-pagination basic-pagination-2 text-center mt-20">
                            <ul>
                                <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                <li><a href="#">01</a></li>
                                <li class="active"><a href="#">02</a></li>
                                <li><a href="#">03</a></li>
                                <li><a href="#"><i class="fas fa-ellipsis-h"></i></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="sidebar-box">

                            <div class="shop-widget user-header">
                                <img class="user-avator" th:src="@{/picture/author.png}" alt="">
                            </div>

                            <div class="shop-widget">
                                <h3 class="shop-title">我的钱包</h3>
                                <div class="shop-wallet">
                                    <span>0.00</span>
                                    <button class="btn btn-primary btn-wallet-earn">充值</button>
                                </div>
                            </div>


                            <div class="shop-widget">
                                <h3 class="shop-title">收支情况</h3>
                                <div class="price-filter">
                                    <div id="slider-range"></div>
                                    <input type="text" id="amount">
                                </div>
                            </div>


                            <div class="shop-widget">
                                <h3 class="shop-title">我发布的分类</h3>
                                <ul class="shop-tag">
                                    <li><a href="shop.html"> Minimal</a></li>
                                    <li><a href="shop.html"> T-Shirts</a></li>
                                    <li><a href="shop.html"> Pants</a></li>
                                    <li><a href="shop.html"> Jeants</a></li>
                                    <li><a href="shop.html"> Winter</a></li>
                                    <li><a href="shop.html"> Latest</a></li>
                                    <li><a href="shop.html"> New</a></li>
                                    <li><a href="shop.html"> Sale</a></li>
                                </ul>
                            </div>


                            <div class="shop-widget">
                                <h3 class="shop-title">我收到的留言</h3>
                                <ul class="shop-sidebar-product">
                                    <li>
                                        <div class="side-pro-img">
                                            <a href="product-details.html"><img th:src="@{/picture/shop-rsp1.jpg}" alt=""></a>
                                        </div>
                                        <div class="side-pro-content">
                                            <div class="side-pro-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                                            <div class="side-pro-price">
                                                <span>$119.00 USD</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="side-pro-img">
                                            <a href="product-details.html"><img th:src="@{/picture/shop-rsp3.jpg}" alt=""></a>
                                        </div>
                                        <div class="side-pro-content">
                                            <div class="side-pro-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                                            <div class="side-pro-price">
                                                <span>$119.00 USD</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="side-pro-img">
                                            <a href="product-details.html"><img th:src="@{/picture/shop-rsp3.jpg}" alt=""></a>
                                        </div>
                                        <div class="side-pro-content">
                                            <div class="side-pro-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                                            <div class="side-pro-price">
                                                <span>$119.00 USD</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="side-pro-img">
                                            <a href="product-details.html"><img th:src="@{/picture/shop-rsp1.jpg}" alt=""></a>
                                        </div>
                                        <div class="side-pro-content">
                                            <div class="side-pro-rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                                            <div class="side-pro-price">
                                                <span>$119.00 USD</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- shop-area end -->


        </main>

    </body>
</html>
