<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>详情</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <main th:fragment="detail">

        <!-- breadcrumb-area-start -->
        <section class="breadcrumb-area" data-background="img/bg/page-title.png">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-text text-center">
                            <h1>Our Shop</h1>
                            <ul class="breadcrumb-menu">
                                <li><a href="index1.html">home</a></li>
                                <li><span>shop details</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- shop-area start -->
        <section class="shop-details-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-4">
                        <div class="product-details-img mb-10">
                            <div class="tab-content" id="myTabContentpro">
                                <div class="tab-pane fade show active" id="home" role="tabpanel">
                                    <div class="product-large-img">
                                        <img src="static/picture/pro2.jpg" th:src="@{/picture/pro1.jpg}" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel">
                                    <div class="product-large-img">
                                        <img src="static/picture/pro2.jpg" th:src="@{/picture/pro2.jpg}" alt="">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile1" role="tabpanel">
                                    <div class="product-large-img">
                                        <img src="static/picture/pro3.jpg" th:src="@{/picture/pro3.jpg}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="shop-thumb-tab mb-30">
                            <ul class="nav" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-selected="true"><img src="static/picture/pro1.jpg" th:src="@{/picture/pro1.jpg}" alt=""> </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-selected="false"><img src="static/picture/pro2.jpg" th:src="@{/picture/pro2.jpg}" alt=""></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile1" role="tab" aria-selected="false"><img src="static/picture/pro3.jpg" th:src="@{/picture/pro3.jpg}" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-8">
                        <div class="product-details mb-30 pl-30">
                            <div class="details-cat mb-20">
                                <a href="#">decor,</a>
                                <a href="#">furniture</a>
                            </div>
                            <h2 class="pro-details-title mb-15">Limonda Women Winter Cloth</h2>
                            <div class="details-price mb-20">
                                <span>$119.00</span>
                                <span class="old-price">$246.00</span>
                            </div>
                            <div class="product-variant">

                                <div class="product-desc variant-item">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                </div>

                                <div class="product-info-list variant-item">
                                    <ul>
                                        <li><span>Brands:</span> Hewlett-Packard</li>
                                        <li><span>Product Code:</span> d12</li>
                                        <li><span>Reward Points:</span> 100</li>
                                        <li><span>Stock:</span> <span class="in-stock">In Stock</span></li>
                                    </ul>
                                </div>

                                <div class="product-action-details variant-item">
                                    <div class="product-details-action">
                                        <form action="#">
                                            <div class="plus-minus">
                                                <div class="cart-plus-minus"><input type="text" value="1"></div>
                                            </div>
                                            <button class="details-action-icon" type="submit"><i class="fas fa-heart"></i></button>
                                            <button class="details-action-icon" type="submit"><i class="fas fa-hourglass"></i></button>
                                            <div class="details-cart mt-40">
                                                <button class="btn theme-btn">买！</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-50">
                    <div class="col-xl-8 col-lg-8">
                        <div class="product-review">
                            <ul class="nav review-tab" id="myTabproduct" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab6" data-toggle="tab" href="#home6" role="tab" aria-controls="home" aria-selected="true">Description </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab6" data-toggle="tab" href="#profile6" role="tab" aria-controls="profile" aria-selected="false">Reviews (2)</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent2">
                                <div class="tab-pane fade show active" id="home6" role="tabpanel" aria-labelledby="home-tab6">
                                    <div class="desc-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis
                                        unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                        illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                                        ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile6" role="tabpanel" aria-labelledby="profile-tab6">
                                    <div class="desc-text review-text">
                                        <div class="product-commnets">
                                            <div class="product-commnets-list mb-25 pb-15">
                                                <div class="pro-comments-img">
                                                    <img src="static/picture/01.png" th:src="@{/picture/01.png}" alt="">
                                                </div>
                                                <div class="pro-commnets-text">
                                                    <h4>Roger West -
                                                        <span>June 5, 2018</span>
                                                    </h4>
                                                    <div class="pro-rating">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                                        incididunt
                                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation.</p>
                                                </div>
                                            </div>
                                            <div class="product-commnets-list mb-25 pb-15">
                                                <div class="pro-comments-img">
                                                    <img src="static/picture/02.png" th:src="@{/picture/01.png}"  alt="">
                                                </div>
                                                <div class="pro-commnets-text">
                                                    <h4>Roger West -
                                                        <span>June 5, 2018</span>
                                                    </h4>
                                                    <div class="pro-rating">
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                                        incididunt
                                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-box mt-50">
                                            <h4>Add a Review</h4>
                                            <div class="your-rating mb-40">
                                                <span>Your Rating:</span>
                                                <div class="rating-list">
                                                    <a href="#">
                                                        <i class="far fa-star"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="far fa-star"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="far fa-star"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="far fa-star"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="far fa-star"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <form class="review-form" action="#">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <label for="message">你的评论</label>
                                                        <textarea name="message" id="message" cols="30" rows="10"></textarea>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <label for="r-name">用户名</label>
                                                        <input type="text" id="r-name">
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <label for="r-email">邮箱</label>
                                                        <input type="email" id="r-email">
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <button class="btn theme-btn">在这里评论吧！</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="pro-details-banner">
                            <a href="shop.html"><img src="static/picture/pro-details.jpg" th:src="@{/picture/pro-details.jpg}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- shop-area end -->

            <!-- product-area start -->
            <section class="product-area pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="area-title text-center mb-50">
                                <h2>Releted Products</h2>
                                <p>Browse the huge variety of our products</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-slider-2 owl-carousel">
                        <div class="pro-item">
                            <productInfo></productInfo>
                        </div>
                        <div class="pro-item">
                            <productInfo></productInfo>
                        </div>
                        <div class="pro-item">
                            <productInfo></productInfo>
                        </div>
                        <div class="pro-item">
                            <productInfo></productInfo>
                        </div>
                        <div class="pro-item">
                            <productInfo></productInfo>
                        </div>
                    </div>
                </div>
            </section>
            <!-- product-area end -->


        </main>

    </body>
</html>
