<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.AddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lvr.kdshop.entity.Address">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="recv_name" property="recv_name" />
        <result column="recv_province" property="recv_province" />
        <result column="recv_city" property="recv_city" />
        <result column="recv_area" property="recv_area" />
        <result column="recv_district" property="recv_district" />
        <result column="recv_addr" property="recv_addr" />
        <result column="recv_phone" property="recv_phone" />
        <result column="recv_tel" property="recv_tel" />
        <result column="recv_zip" property="recv_zip" />
        <result column="recv_tag" property="recv_tag" />
        <result column="is_default" property="is_default" />
        <result column="created_user" property="created_user" />
        <result column="created_time" property="created_time" />
        <result column="modified_user" property="modified_user" />
        <result column="modified_time" property="modified_time" />
    </resultMap>

</mapper>
