<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lvr.kdshop.entity.Goods">
        <id column="id" property="id" />
        <result column="catelog_id" property="catelog_id" />
        <result column="user_id" property="user_id" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="real_price" property="real_price" />
        <result column="start_time" property="start_time" />
        <result column="polish_time" property="polish_time" />
        <result column="end_time" property="end_time" />
        <result column="commet_num" property="commet_num" />
        <result column="phone_number" property="phone_number" />
        <result column="qq_number" property="qq_number" />
        <result column="wx_number" property="wx_number" />
        <result column="good_city" property="good_city" />
        <result column="good_buy_method" property="good_buy_method" />
        <result column="good_address" property="good_address" />
        <result column="viewCount" property="viewCount" />
        <result column="describle" property="describle" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
