<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lvr.kdshop.entity.User">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="QQ" property="QQ" />
        <result column="create_at" property="create_at" />
        <result column="goods_num" property="goods_num" />
        <result column="power" property="power" />
        <result column="last_login" property="last_login" />
        <result column="status" property="status" />
        <result column="birthday" property="birthday" />
        <result column="sex" property="sex" />
        <result column="img_url" property="img_url" />
        <result column="residence" property="residence" />
        <result column="signature" property="signature" />
    </resultMap>

    <!-- 编写一个普通 list 查询，mybatis-plus 自动替你分页 -->
    <select id="selectUserByPage" resultType="com.lvr.kdshop.entity.User">
        select * from user where status = #{status}
    </select>
</mapper>
