<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.AddressMapper">
    
    <resultMap type="Address" id="AddressResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="recvName"    column="recv_name"    />
        <result property="recvProvince"    column="recv_province"    />
        <result property="recvCity"    column="recv_city"    />
        <result property="recvArea"    column="recv_area"    />
        <result property="recvDistrict"    column="recv_district"    />
        <result property="recvAddr"    column="recv_addr"    />
        <result property="recvPhone"    column="recv_phone"    />
        <result property="recvZip"    column="recv_zip"    />
        <result property="recvTag"    column="recv_tag"    />
        <result property="isDefault"    column="is_default"    />
        <result property="createdTime"    column="created_time"    />
        <result property="modifiedTime"    column="modified_time"    />
    </resultMap>

    <sql id="selectAddressVo">
        select id, user_id, recv_name, recv_province, recv_city, recv_area, recv_district, recv_addr, recv_phone, recv_zip, recv_tag, is_default, created_time, modified_time from kd_address
    </sql>

    <select id="selectAddressList" parameterType="Address" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="recvName != null  and recvName != ''"> and recv_name like concat('%', #{recvName}, '%')</if>
            <if test="recvProvince != null  and recvProvince != ''"> and recv_province = #{recvProvince}</if>
            <if test="recvCity != null  and recvCity != ''"> and recv_city = #{recvCity}</if>
            <if test="recvArea != null  and recvArea != ''"> and recv_area = #{recvArea}</if>
            <if test="recvDistrict != null  and recvDistrict != ''"> and recv_district = #{recvDistrict}</if>
            <if test="recvAddr != null  and recvAddr != ''"> and recv_addr = #{recvAddr}</if>
            <if test="recvPhone != null  and recvPhone != ''"> and recv_phone = #{recvPhone}</if>
            <if test="recvZip != null  and recvZip != ''"> and recv_zip = #{recvZip}</if>
            <if test="recvTag != null  and recvTag != ''"> and recv_tag = #{recvTag}</if>
            <if test="isDefault != null "> and is_default = #{isDefault}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="modifiedTime != null "> and modified_time = #{modifiedTime}</if>
        </where>
    </select>
    
    <select id="selectAddressById" parameterType="Long" resultMap="AddressResult">
        <include refid="selectAddressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAddress" parameterType="Address" useGeneratedKeys="true" keyProperty="id">
        insert into kd_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="recvName != null">recv_name,</if>
            <if test="recvProvince != null">recv_province,</if>
            <if test="recvCity != null">recv_city,</if>
            <if test="recvArea != null">recv_area,</if>
            <if test="recvDistrict != null">recv_district,</if>
            <if test="recvAddr != null">recv_addr,</if>
            <if test="recvPhone != null">recv_phone,</if>
            <if test="recvZip != null">recv_zip,</if>
            <if test="recvTag != null">recv_tag,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="modifiedTime != null">modified_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="recvName != null">#{recvName},</if>
            <if test="recvProvince != null">#{recvProvince},</if>
            <if test="recvCity != null">#{recvCity},</if>
            <if test="recvArea != null">#{recvArea},</if>
            <if test="recvDistrict != null">#{recvDistrict},</if>
            <if test="recvAddr != null">#{recvAddr},</if>
            <if test="recvPhone != null">#{recvPhone},</if>
            <if test="recvZip != null">#{recvZip},</if>
            <if test="recvTag != null">#{recvTag},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="modifiedTime != null">#{modifiedTime},</if>
         </trim>
    </insert>

    <update id="updateAddress" parameterType="Address">
        update kd_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="recvName != null">recv_name = #{recvName},</if>
            <if test="recvProvince != null">recv_province = #{recvProvince},</if>
            <if test="recvCity != null">recv_city = #{recvCity},</if>
            <if test="recvArea != null">recv_area = #{recvArea},</if>
            <if test="recvDistrict != null">recv_district = #{recvDistrict},</if>
            <if test="recvAddr != null">recv_addr = #{recvAddr},</if>
            <if test="recvPhone != null">recv_phone = #{recvPhone},</if>
            <if test="recvZip != null">recv_zip = #{recvZip},</if>
            <if test="recvTag != null">recv_tag = #{recvTag},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="modifiedTime != null">modified_time = #{modifiedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAddressById" parameterType="Long">
        delete from kd_address where id = #{id}
    </delete>

    <delete id="deleteAddressByIds" parameterType="String">
        delete from kd_address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>