<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.CarouselMapper">
    
    <resultMap type="Carousel" id="CarouselResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="createAt"    column="create_at"    />
        <result property="status"    column="status"    />
        <result property="descript"    column="descript"    />
        <result property="imgUrl"    column="img_url"    />
    </resultMap>

    <sql id="selectCarouselVo">
        select id, title, create_at, status, descript, img_url from kd_carousel
    </sql>

    <select id="selectCarouselList" parameterType="Carousel" resultMap="CarouselResult">
        <include refid="selectCarouselVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="createAt != null "> and create_at = #{createAt}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="descript != null  and descript != ''"> and descript = #{descript}</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
        </where>
    </select>
    
    <select id="selectCarouselById" parameterType="Long" resultMap="CarouselResult">
        <include refid="selectCarouselVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCarousel" parameterType="Carousel" useGeneratedKeys="true" keyProperty="id">
        insert into kd_carousel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="createAt != null">create_at,</if>
            <if test="status != null">status,</if>
            <if test="descript != null">descript,</if>
            <if test="imgUrl != null">img_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="createAt != null">#{createAt},</if>
            <if test="status != null">#{status},</if>
            <if test="descript != null">#{descript},</if>
            <if test="imgUrl != null">#{imgUrl},</if>
         </trim>
    </insert>

    <update id="updateCarousel" parameterType="Carousel">
        update kd_carousel
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="createAt != null">create_at = #{createAt},</if>
            <if test="status != null">status = #{status},</if>
            <if test="descript != null">descript = #{descript},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCarouselById" parameterType="Long">
        delete from kd_carousel where id = #{id}
    </delete>

    <delete id="deleteCarouselByIds" parameterType="String">
        delete from kd_carousel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>