<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.GoodsMapper">
    
    <resultMap type="Goods" id="GoodsResult">
        <result property="id"    column="id"    />
        <result property="catelogId"    column="catelog_id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="realPrice"    column="real_price"    />
        <result property="polishTime"    column="polish_time"    />
        <result property="buyUrl"    column="buy_url"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="qqNumber"    column="qq_number"    />
        <result property="wxNumber"    column="wx_number"    />
        <result property="buyMethod"    column="buy_method"    />
        <result property="address"    column="address"    />
        <result property="viewCount"    column="view_count"    />
        <result property="describle"    column="describle"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectGoodsVo">
        select id, catelog_id, user_id, name, price, real_price, polish_time, buy_url, phone_number, qq_number, wx_number, buy_method, address, view_count, describle, status from kd_goods
    </sql>

    <select id="selectGoodsList" parameterType="Goods" resultMap="GoodsResult">
        <include refid="selectGoodsVo"/>
        <where>  
            <if test="catelogId != null "> and catelog_id = #{catelogId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="realPrice != null "> and real_price = #{realPrice}</if>
            <if test="polishTime != null "> and polish_time = #{polishTime}</if>
            <if test="buyUrl != null  and buyUrl != ''"> and buy_url = #{buyUrl}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="qqNumber != null  and qqNumber != ''"> and qq_number = #{qqNumber}</if>
            <if test="wxNumber != null  and wxNumber != ''"> and wx_number = #{wxNumber}</if>
            <if test="buyMethod != null "> and buy_method = #{buyMethod}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="viewCount != null "> and view_count = #{viewCount}</if>
            <if test="describle != null  and describle != ''"> and describle = #{describle}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectGoodsById" parameterType="Long" resultMap="GoodsResult">
        <include refid="selectGoodsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGoods" parameterType="Goods" useGeneratedKeys="true" keyProperty="id">
        insert into kd_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="catelogId != null">catelog_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="price != null">price,</if>
            <if test="realPrice != null">real_price,</if>
            <if test="polishTime != null">polish_time,</if>
            <if test="buyUrl != null">buy_url,</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            <if test="qqNumber != null">qq_number,</if>
            <if test="wxNumber != null">wx_number,</if>
            <if test="buyMethod != null">buy_method,</if>
            <if test="address != null">address,</if>
            <if test="viewCount != null">view_count,</if>
            <if test="describle != null">describle,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="catelogId != null">#{catelogId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="realPrice != null">#{realPrice},</if>
            <if test="polishTime != null">#{polishTime},</if>
            <if test="buyUrl != null">#{buyUrl},</if>
            <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
            <if test="qqNumber != null">#{qqNumber},</if>
            <if test="wxNumber != null">#{wxNumber},</if>
            <if test="buyMethod != null">#{buyMethod},</if>
            <if test="address != null">#{address},</if>
            <if test="viewCount != null">#{viewCount},</if>
            <if test="describle != null">#{describle},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateGoods" parameterType="Goods">
        update kd_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="catelogId != null">catelog_id = #{catelogId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="realPrice != null">real_price = #{realPrice},</if>
            <if test="polishTime != null">polish_time = #{polishTime},</if>
            <if test="buyUrl != null">buy_url = #{buyUrl},</if>
            <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="qqNumber != null">qq_number = #{qqNumber},</if>
            <if test="wxNumber != null">wx_number = #{wxNumber},</if>
            <if test="buyMethod != null">buy_method = #{buyMethod},</if>
            <if test="address != null">address = #{address},</if>
            <if test="viewCount != null">view_count = #{viewCount},</if>
            <if test="describle != null">describle = #{describle},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsById" parameterType="Long">
        delete from kd_goods where id = #{id}
    </delete>

    <delete id="deleteGoodsByIds" parameterType="String">
        delete from kd_goods where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>