<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.OrdersMapper">
    
    <resultMap type="Orders" id="OrdersResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="goodId"    column="good_id"    />
        <result property="addressId"    column="address_id"    />
        <result property="payId"    column="pay_id"    />
        <result property="createAt"    column="create_at"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectOrdersVo">
        select id, order_id, user_id, good_id, address_id, pay_id, create_at, status from kd_orders
    </sql>

    <select id="selectOrdersList" parameterType="Orders" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        <where>  
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="goodId != null "> and good_id = #{goodId}</if>
            <if test="addressId != null "> and address_id = #{addressId}</if>
            <if test="payId != null  and payId != ''"> and pay_id = #{payId}</if>
            <if test="createAt != null "> and create_at = #{createAt}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectOrdersById" parameterType="Long" resultMap="OrdersResult">
        <include refid="selectOrdersVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrders" parameterType="Orders" useGeneratedKeys="true" keyProperty="id">
        insert into kd_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null and orderId != ''">order_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="goodId != null">good_id,</if>
            <if test="addressId != null">address_id,</if>
            <if test="payId != null and payId != ''">pay_id,</if>
            <if test="createAt != null">create_at,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null and orderId != ''">#{orderId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="goodId != null">#{goodId},</if>
            <if test="addressId != null">#{addressId},</if>
            <if test="payId != null and payId != ''">#{payId},</if>
            <if test="createAt != null">#{createAt},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateOrders" parameterType="Orders">
        update kd_orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null and orderId != ''">order_id = #{orderId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="goodId != null">good_id = #{goodId},</if>
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="payId != null and payId != ''">pay_id = #{payId},</if>
            <if test="createAt != null">create_at = #{createAt},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrdersById" parameterType="Long">
        delete from kd_orders where id = #{id}
    </delete>

    <delete id="deleteOrdersByIds" parameterType="String">
        delete from kd_orders where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>