<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.ReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lvr.kdshop.entity.Reply">
        <id column="id" property="id" />
        <result column="user_id" property="user_id" />
        <result column="atuser_id" property="atuser_id" />
        <result column="commet_id" property="commet_id" />
        <result column="create_at" property="create_at" />
        <result column="content" property="content" />
    </resultMap>

</mapper>
