/* 1. Theme default css */


body {

  font-family: 'Rubik', sans-serif;

  font-weight: normal;

  font-style: normal;

  font-size: 14px;

}

.img,
img {

  max-width: 100%;

  transition: all 0.3s ease-out 0s;

}

.f-left {

  float: left
}

.f-right {

  float: right
}

.fix {

  overflow: hidden
}

a,

.button {

  -webkit-transition: all 0.3s ease-out 0s;

  -moz-transition: all 0.3s ease-out 0s;

  -ms-transition: all 0.3s ease-out 0s;

  -o-transition: all 0.3s ease-out 0s;

  transition: all 0.3s ease-out 0s;

}

a:focus,

.button:focus {

  text-decoration: none;

  outline: none;

}

a:focus,

a:hover {

  color: #10111e;

  text-decoration: none;

}

a,

button {

  color: #10111e;

  outline: medium none;

  transition: .3s;

}

button {

  cursor: pointer;

}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0
}

.uppercase {

  text-transform: uppercase;

}

.capitalize {

  text-transform: capitalize;

}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: 'Rubik', sans-serif;

  font-weight: normal;

  color: #10111e;

  margin-top: 0px;

  font-style: normal;

  font-weight: 500;

  text-transform: normal;

  line-height: 1.1;

}

h1 a,

h2 a,

h3 a,

h4 a,

h5 a,

h6 a {

  color: inherit;

}

h1 {

  font-size: 40px;

  font-weight: 500;

}

h2 {

  font-size: 35px;

}

h3 {

  font-size: 28px;

}

h4 {

  font-size: 22px;

}

h5 {

  font-size: 18px;

}

h6 {

  font-size: 16px;

}

ul {

  margin: 0px;

  padding: 0px;

}

li {

  list-style: none
}

p {

  font-size: 14px;

  font-weight: normal;

  line-height: 26px;

  color: #7e7e7e;

  margin-bottom: 15px;

}

hr {

  border-bottom: 1px solid #eceff8;

  border-top: 0 none;

  margin: 30px 0;

  padding: 0;

}

label {

  color: #7e7e7e;

  cursor: pointer;

  font-size: 14px;

  font-weight: 400;

}

*::-moz-selection {

  background: #d6b161;

  color: #fff;

  text-shadow: none;

}

::-moz-selection {

  background: #444;

  color: #fff;

  text-shadow: none;

}

::selection {

  background: #444;

  color: #fff;

  text-shadow: none;

}

*::-moz-placeholder {

  color: #555555;

  font-size: 14px;

  opacity: 1;

}

*::placeholder {

  color: #555555;

  font-size: 14px;

  opacity: 1;

}

.theme-overlay {

  position: relative
}

.theme-overlay::before {

  background: #1696e7 none repeat scroll 0 0;

  content: "";

  height: 100%;

  left: 0;

  opacity: 0.6;

  position: absolute;

  top: 0;

  width: 100%;

}

.separator {

  border-top: 1px solid #f2f2f2
}

/* button style */



.btn {

  background: transparent;

  border: 0;

  border-radius: 0;

  color: #525470;

  display: inline-block;

  font-size: 13px;

  font-weight: 500;

  letter-spacing: 2px;

  line-height: 1;

  margin-bottom: 0;

  padding: 22px 50px;

  text-align: center;

  text-transform: uppercase;

  touch-action: manipulation;

  transition: all 0.3s ease 0s;

  vertical-align: middle;

  white-space: nowrap;

}

.theme-btn {

  background: #fe4536;

  color: #fff;

}

.theme-btn:hover {

  background: #84b77c;

  color: #fff;

}

.theme-btn-2 {

  background: #84b77c;

  color: #fff;

}

.theme-btn-2:hover {

  background: #fe4536;

  color: #fff;

}

.white-btn {

  background: #fff;

}

.white-btn:hover {

  background: #84b77c;

  color: #fff !important;

}

.breadcrumb>.active {

  color: #888;

}

.owl-carousel .owl-nav div {

  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;

  height: 40px;

  left: 20px;

  line-height: 40px;

  opacity: 0;

  position: absolute;

  text-align: center;

  top: 50%;

  transform: translateY(-50%);

  transition: all 0.3s ease 0s;

  visibility: hidden;

  width: 40px;

}

.owl-carousel .owl-nav div.owl-next {

  left: auto;

  right: 20px;

}

.owl-carousel:hover .owl-nav div {

  opacity: 1;

  visibility: visible;

}

.owl-carousel .owl-nav div:hover {

  background: #2B96CC;

  color: #fff
}



/* scrollUp */

#scrollUp {

  position: absolute;

  bottom: 50px;

  right: 50px;

  background: #84b77c;

  height: 60px;

  width: 60px;

  border-radius: 50%;

  text-align: center;

  line-height: 60px;

  color: #ffffff;

  font-size: 18px;

}

#scrollUp:hover {

  background: #fe4536;

}

/* 分页条样式  全局 */

.basic-pagination ul {
  display: block;
}

.basic-pagination ul li {
  display: inline-block;
  margin: 0 5px;
}

@media (max-width: 767px) {
  .basic-pagination ul li {
    margin-bottom: 10px;
  }
}

.basic-pagination ul li a {
  height: 70px;
  width: 70px;
  background: #ffffff;
  color: #9990b8;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  line-height: 70px;
  margin: 0px;
  display: inline-block;
  text-align: center;
}

.basic-pagination ul li a:hover,
.basic-pagination ul li.active a {
  background: #fe4536;
  color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(254, 69, 54, 0.3);
}

.basic-pagination-2 ul li {
}

.basic-pagination-2 ul li a {
  background: transparent;
  color: #9990b8;
  border: 2px solid #eaebec;
  height: 60px;
  width: 60px;
  line-height: 56px;
}

.basic-pagination-2 ul li a:hover,
.basic-pagination-2 ul li.active a {
  background: #fe4536;
  color: #ffffff;
  border-color: #fe4536;
  box-shadow: 0px 8px 16px 0px rgba(254, 69, 54, 0.3);
}